@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

* {
    margin: 0;
}



.logo1 {
    padding-left: 3vw;
}

.welcome-photo {
    width: 100vw;
    height: 60vh;
    filter: opacity(40%);
}

.cover {
    position: relative;
    color: white;
}

.p1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 23px;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #f7ebd4;
    top: 55%;
    left: 40%;
}

.p2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    top: 70%;
    left: 40%;
}

.button-center {
    display: flex;
    justify-content: center;
}

/* BOOK NOW BUTTON */
.button-1 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #7a2012;
    border-radius: 10px;
    box-sizing: border-box;
    color: #f7ebd4;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 9px 2px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    will-change: transform;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #f7ebd4;
    top: 89%;
    left: 50%;
}

  
  .button-1:disabled {
    pointer-events: none;
  }
  
  .button-1:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 89%;
    left: 50%;
  }
  
  .button-1:active {
    box-shadow: none;
    transform: translateY(0);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 89%;
    left: 50%;
  }
/* BOOK NOW BUTTON END*/

.container1 {
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
}


.about-us-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: large;
  background-color: #7a2012;
  color: #f7ebd4;

}

.about-us-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: small;
  color: white;
}

.gallery-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: large;
  background-color: #7a2012;
  color: #f7ebd4;
}

@media screen and (min-width:720px){
  
}
