@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

* {
    margin: 0;
}



.logo1 {
    padding-left: 3vw;
}

.welcome-photo {
    width: 100vw;
    height: 60vh;
    filter: opacity(40%);
}

.cover {
    position: relative;
    color: white;
}

.p1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 23px;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #f7ebd4;
    top: 55%;
    left: 40%;
}

.p2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    top: 72%;
    left: 40%;
}

.button-center {
    display: flex;
    justify-content: center;
}

/* BOOK NOW BUTTON */
.button-1 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #7a2012;
    border-radius: 10px;
    box-sizing: border-box;
    color: #f7ebd4;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 9px 2px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    will-change: transform;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #f7ebd4;
    top: 89%;
    left: 50%;
}

  
  .button-1:disabled {
    pointer-events: none;
  }
  
  .button-1:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 89%;
    left: 50%;
  }
  
  .button-1:active {
    box-shadow: none;
    transform: translateY(0);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 89%;
    left: 50%;
  }
/* BOOK NOW BUTTON END*/

.container1 {
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
}


.about-us-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: large;
  background-color: #7a2012;
  color: #f7ebd4;

}

.about-us-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: small;
  color: white;
}

.services-text {
  font-family: 'Manrope', sans-serif;
  font-size: large;
  color: white;

}

.services-list {
  font-family: 'Manrope', sans-serif;
  font-size: medium;
  color: white;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*View More Button Start*/
.button-2 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #7a2012;
  border-radius: 10px;
  box-sizing: border-box;
  color: #f7ebd4;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 9px 2px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  will-change: transform;
}


.button-2:disabled {
  pointer-events: none;
}

.button-2:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-2:active {
  box-shadow: none;
  transform: translateY(0);
}
/*View More Button end*/

.book-now-text {
  color: white;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.book-now-text2 {
  color: white;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: large;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}


.button-3-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOOK NOW BUTTON */
.button-3 {
  background: #7a2012;
  border-radius: 11px;
  box-sizing: border-box;
  color: #f7ebd4;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50vw;
  word-break: break-word;
  border: 0;
  display: flex;
}

.button-3:active,
.button-3:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}
/* BOOK NOW BUTTON END */


@media screen and (min-width:720px){

}
